<!DOCTYPE html>
<!-- ==============================
    Project:        Metronic "Asentus" Frontend Freebie - Responsive HTML Template Based On Twitter Bootstrap 3.3.4
    Version:        1.0
    Author:         KeenThemes
    Primary use:    Corporate, Business Themes.
    Email:          support@keenthemes.com
    Follow:         http://www.twitter.com/keenthemes
    Like:           http://www.facebook.com/keenthemes
    Website:        http://www.keenthemes.com
    Premium:        Premium Metronic Admin Theme: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
================================== -->
<html xmlns:th="http://www.thymeLeaf.org" lang="vi" class="no-js">
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>
    <title>Insurance Card</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>

    <!-- GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Hind:300,400,500,600,700" rel="stylesheet" type="text/css">
    <link th:href="@{/vendor/simple-line-icons/simple-line-icons.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>

    <!-- PAGE LEVEL PLUGIN STYLES -->
    <link th:href="@{/css/animate.css}" rel="stylesheet">

    <!-- THEME STYLES -->
    <link th:href="@{/css/layout.min.css}" rel="stylesheet" type="text/css"/>

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico"/>
</head>
<!-- END HEAD -->

<!-- BODY -->
<body>

<!--========== HEADER ==========-->
<header class="header navbar-fixed-top">
    <!-- Navbar -->
    <nav class="navbar" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="menu-container">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="toggle-icon"></span>
                </button>

                <!-- Logo -->
                <div class="logo">
                    <a class="logo-wrap" href="/home">
                        <img class="logo-img logo-img-main" th:src="@{/img/logo.png}" alt="Asentus Logo">
                        <img class="logo-img logo-img-active" th:src="@{/img/logo-dark.png}" alt="Asentus Logo">
                    </a>
                </div>
                <!-- End Logo -->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse nav-collapse">
                <div class="menu-container">
                    <ul class="navbar-nav navbar-nav-right">
                        <li class="nav-item"><a class="nav-item-child nav-item-hover active" href="/home">Trang chủ</a>
                        </li>
                        <li class="nav-item"><a class="nav-item-child nav-item-hover" href="/about">Giới thiệu</a></li>
                        <li class="nav-item" sec:authorize="!isAuthenticated()"><a class="nav-item-child nav-item-hover"
                                                                                   href="/login">Đăng nhập</a></li>
                        <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                            <a class="nav-item-child dropdown-toggle nav-item-hover" href="#" id="navbarDropdown"
                               role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                               sec:authentication="name">
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="text-align: center">
                                <a class="dropdown-item " href="/dashboard">Dashboard</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item " href="javascript: document.logoutForm.submit()"
                                   role="menuitem"> Đăng xuất</a>

                                <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                                    <input hidden type="submit" value="Sign Out"/>
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End Navbar Collapse -->
        </div>
    </nav>
    <!-- Navbar -->
</header>
<!--========== END HEADER ==========-->

<!--========== PARALLAX ==========-->
<div class="parallax-window" data-parallax="scroll" th:data-image-src="@{/img/1920x1080/02.jpg}">
    <div class="parallax-content container">
        <h1 class="carousel-title">Sơn và những người bạn</h1>
    </div>
</div>
<!--========== PARALLAX ==========-->

<!--========== PAGE LAYOUT ==========-->
<div class="bg-color-sky-light">
    <div class="content-lg container">
        <!--// end row -->
        <div class="row" style="display: flex;
    align-items: center;
    justify-content: center;">
            <!-- Team -->
            <div class="col-sm-4 sm-margin-b-50">
                <div class="bg-color-white margin-b-20">
                    <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
                        <img class="img-responsive" th:src="@{/img/770x860/01.png}" alt="Team Image">
                    </div>
                </div>
                <div style="text-align: center">
                    <h2>Nguyễn Tất Trung <span class="text-uppercase margin-l-20">Giảng viên</span></h2>
                    <p style="font-size: 23px">Mắt thầy sáng, dáng thầy hiền<br>Đem kiến thức đến cho em.</p>
                </div>
            </div>
            <!-- End Team -->
        </div>
        <!--// end row -->
    </div>
</div>
<!-- Service -->
<div class="bg-color-sky-light" data-auto-height="true">
    <div class="content-lg container">
        <div class="row row-space-1 margin-b-2">
            <div class="col-sm-4 sm-margin-b-2">
                <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".3s">
                    <div class="service" data-height="height">
                        <div class="service-info" style="text-align: center">
                            <h3>Đỗ Duy Thái</h3>
                            <p class="margin-b-5">Thợ code</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 sm-margin-b-2">
                <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".2s">
                    <div class="service" data-height="height">
                        <div class="service-info" style="text-align: center">
                            <h3>Phạm Xuân Sơn</h3>
                            <p class="margin-b-5">Đại ca</p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".1s">
                    <div class="service" data-height="height">
                        <div class="service-info" style="text-align: center">
                            <h3>Trương Nhật Quang</h3>
                            <p class="margin-b-5">Thợ code</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--// end row -->

        <div class="row row-space-1">
            <div class="col-sm-6 sm-margin-b-2">
                <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".4s">
                    <div class="service" data-height="height">

                        <div class="service-info" style="text-align: center">
                            <h3>Nguyễn Thế Phùng</h3>
                            <p class="margin-b-5">Thợ code</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 sm-margin-b-2">
                <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".5s">
                    <div class="service" data-height="height">
                        <div class="service-info" style="text-align: center">
                            <h3>Phạm Ngọc Quỳnh</h3>
                            <p class="margin-b-5">Thợ code</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--// end row -->
    </div>
</div>
<!-- End Service -->

<!-- Pricing -->

<!-- End Pricing -->
<!--========== END PAGE LAYOUT ==========-->

<!--========== FOOTER ==========-->
<footer class="footer">
    <!-- Links -->
    <div class="footer-seperator">
        <div class="content-lg container">
            <div class="row">
                <div class="col-sm-2 sm-margin-b-50">
                    <!-- List -->
                    <ul class="list-unstyled footer-list">
                        <li class="footer-list-item"><a class="footer-list-link" href="#">Trang chủ</a></li>
                        <li class="footer-list-item"><a class="footer-list-link" href="#">Thông tin</a></li>
                        <li class="footer-list-item"><a class="footer-list-link" href="#">Sản phẩm</a></li>
                        <li class="footer-list-item"><a class="footer-list-link" href="#">Liên hệ</a></li>
                    </ul>
                    <!-- End List -->
                </div>
                <div class="col-sm-4 sm-margin-b-30">
                    <!-- List -->
                    <ul class="list-unstyled footer-list">
                        <li class="footer-list-item"><a class="footer-list-link" href="#">Twitter</a></li>
                        <li class="footer-list-item"><a class="footer-list-link" href="#">Facebook</a></li>
                        <li class="footer-list-item"><a class="footer-list-link" href="#">Instagram</a></li>
                    </ul>
                    <!-- End List -->
                </div>
                <div class="col-sm-5 sm-margin-b-30">
                    <h2 class="color-white">Trò chuyện với chúng tôi</h2>
                    <input type="text" class="form-control footer-input margin-b-20" placeholder="Tên" required>
                    <input type="email" class="form-control footer-input margin-b-20" placeholder="Email" required>
                    <input type="text" class="form-control footer-input margin-b-20" placeholder="Số điện thoại"
                           required>
                    <textarea class="form-control footer-input margin-b-30" rows="6" placeholder="Lời nhắn"
                              required></textarea>
                    <button type="submit" class="btn-theme btn-theme-sm btn-base-bg text-uppercase">Gửi</button>
                </div>
            </div>
            <!--// end row -->
        </div>
    </div>
    <!-- End Links -->

    <!-- Copyright -->
    <div class="content container">
        <div class="row">
            <div class="col-xs-6">
                <img class="footer-logo" th:src="@{/img/logo.png}" alt="Asentus Logo">
            </div>
            <div class="col-xs-6 text-right">
                <p class="margin-b-0"><a class="color-base fweight-700" href="http://keenthemes.com/preview/asentus/">Asentus</a>
                    Theme Powered by: <a class="color-base fweight-700"
                                         href="http://www.keenthemes.com/">KeenThemes.com</a></p>
            </div>
        </div>
        <!--// end row -->
    </div>
    <!-- End Copyright -->
</footer>
<!--========== END FOOTER ==========-->

<!-- Back To Top -->
<a href="javascript:void(0);" class="js-back-to-top back-to-top">Top</a>

<!-- JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- CORE PLUGINS -->
<script th:src="@{/vendor/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{/vendor/jquery-migrate.min.js}" type="text/javascript"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>

<!-- PAGE LEVEL PLUGINS -->
<script th:src="@{/vendor/jquery.easing.js}" type="text/javascript"></script>
<script th:src="@{/vendor/jquery.back-to-top.js}" type="text/javascript"></script>
<script th:src="@{/vendor/jquery.smooth-scroll.js}" type="text/javascript"></script>
<script th:src="@{/vendor/jquery.wow.min.js}" type="text/javascript"></script>
<script th:src="@{/vendor/jquery.parallax.min.js}" type="text/javascript"></script>

<!-- PAGE LEVEL SCRIPTS -->
<script th:src="@{/js/layout.min.js}" type="text/javascript"></script>
<script th:src="@{/js/components/wow.min.js}" type="text/javascript"></script>

</body>
<!-- END BODY -->
</html>