<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
	<!-- Basic Page Info -->
	<meta charset="utf-8">
	<title>Insurance card</title>

	<!-- Site favicon -->
	<link rel="apple-touch-icon" sizes="180x180" th:href="@{/vendor/images/apple-touch-icon.png}">
	<link rel="icon" type="image/png" sizes="32x32" th:href="@{/vendor/images/favicon-32x32.png}">
	<link rel="icon" type="image/png" sizes="16x16" th:href="@{/vendor/images/favicon-16x16.png}">

	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/styles/core.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/styles/icon-font.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/src/plugins/cropperjs/dist/cropper.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/styles/style.css}">

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-119386393-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-119386393-1');
	</script>
</head>
<script>
	function validateForm() {
		//collect form data in JavaScript variables
		var pw1 = document.getElementById("pswd1").value;
		var pw2 = document.getElementById("pswd2").value;
		var name = document.getElementById("username").value;


		//character data validation
		if(!isNaN(name)){
			document.getElementById("blankMsg").innerHTML = "**Only characters are allowed";
			return false;
		} else {
			document.getElementById("blankMsg").innerHTML = "";
		}

		//minimum password length validation
		if(pw1.length < 8) {
			document.getElementById("message1").innerHTML = "**Password length must be atleast 8 characters";
			return false;
		}else {
			document.getElementById("message1").innerHTML = "";
		}

		//maximum length of password validation
		if(pw1.length > 15) {
			document.getElementById("message1").innerHTML = "**Password length must not exceed 15 characters";
			return false;
		} else {
			document.getElementById("message1").innerHTML = "";
		}

		if(pw1 != pw2) {
			document.getElementById("message2").innerHTML = "**Passwords are not same";
			return false;
		} else {
			document.getElementById("message2").innerHTML = "";
		}
	}
</script>
<body>

<div class="header">
	<div class="header-left"></div>
	<div class="header-right">
		<div class="user-info-dropdown">
			<div class="dropdown">
				<a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                    <span class="user-icon">
                        <img th:src="@{/vendor/images/photo1.png}" alt="">
                    </span>
					<span class="user-name" sec:authentication="name"></span>
				</a>
				<div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
					<a href="javascript: document.logoutForm.submit()" class="dropdown-item"><i
							class="dw dw-logout"></i> Đăng xuất</a>
					<form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
						<input hidden type="submit" value="Sign Out"/>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>



<div class="left-side-bar">
	<div class="brand-logo">
		<a href="/home">
			<img th:src="@{/vendor/images/deskapp-logo.svg}" alt="" class="dark-logo">
			<img th:src="@{/vendor/images/deskapp-logo-white.svg}" alt="" class="light-logo">
		</a>
		<div class="close-sidebar" data-toggle="left-sidebar-close">
			<i class="ion-close-round"></i>
		</div>
	</div>
	<div class="menu-block customscroll">
		<div class="sidebar-menu">
			<ul id="accordion-menu" sec:authorize="hasAnyAuthority('STAFF','ADMIN')">
				<li class="dropdown">
					<a href="javascript:;" class="dropdown-toggle">
						<span class="micon dw dw-user"></span><span class="mtext">Khách hàng</span>
					</a>
					<ul class="submenu">
						<li><a href="/manageUser/staff">Quản lý khách hàng</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="javascript:;" class="dropdown-toggle">
						<span class="micon dw dw-notebook"></span><span class="mtext">Hợp đồng</span>
					</a>
					<ul class="submenu">
						<li><a href="/contracts/admin">Quản lý hợp đồng</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="javascript:;" class="dropdown-toggle">
						<span class="micon dw dw-warning"></span><span class="mtext">Yêu cầu</span>
					</a>
					<ul class="submenu">
						<li><a href="/resolveContract/create">Tạo hợp đồng</a></li>
						<li><a href="/resolveAccident">Xác nhận tai nạn</a></li>
						<li><a href="/resolveCompensation">Nhận tiền bảo hiểm</a></li>
						<li><a href="/resolveContract/renew">Làm mới hợp đồng</a></li>
						<li><a href="/resolveContract/cancel">Hủy hợp đồng</a></li>
					</ul>
				</li>
				<li class="dropdown" sec:authorize="hasAuthority('ADMIN')">
					<a href="javascript:;" class="dropdown-toggle">
						<span class="micon dw dw-add-user"></span><span class="mtext">Tài khoản</span>
					</a>
					<ul class="submenu">
						<li><a href="/manageAccount">Quản lý tài khoản</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>
	<div class="mobile-menu-overlay"></div>

	<div class="main-container">
		<div class="pd-ltr-20 xs-pd-20-10">
			<div class="min-height-200px">
				<div class="page-header">
					<div class="row">
						<div class="col-md-12 col-sm-12">
							<div class="title">
								<h4>Tạo tài khoản</h4>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-30">
						<div class="card-box height-100-p overflow-hidden">
							<div class="profile-tab height-100-p">
								<div class="tab height-100-p">
									<ul class="nav nav-tabs customtab" role="tablist">
										<li class="nav-item">
											<a class="nav-link active" data-toggle="tab" href="#setting" role="tab">Thông tin tài khoản</a>
										</li>
									</ul>
									<div class="tab-content">
										<!-- Timeline Tab start -->
										<!-- Setting Tab start -->
										<div class="tab-pane fade show active" id="setting" role="tabpanel">
											<div class="profile-setting">
												<div>
													<p class="error-msg" th:text="${msgError}" style="color: red; text-align: center"></p>
												</div>
												<form th:object="${account}" method="post" th:action="@{'/manageAccount/create/save'}" onsubmit="return validateForm()">
													<ul class="profile-edit-list row">
														<li class="weight-500 col-md-12">
															<div class="form-group">
																<label>Tên đăng nhập</label>
																<input class="form-control form-control-lg" type="text" th:field="*{username}" required id="username">
																<span id = "blankMsg" style="color:red"> </span> <br>
															</div>
															<div class="form-group">
																<label>Mật khẩu</label>
																<input class="form-control form-control-lg" type="password" th:field="*{password}" required id="pswd1">
																<span id = "message1" style="color:red"> </span> <br>
															</div>
															<div class="form-group">
																<label>Xác nhận mật khẩu</label>
																<input class="form-control form-control-lg" type="password" required id="pswd2">
																<span id = "message2" style="color:red"> </span> <br>
															</div>
															<div class="form-group">
																<label>Quyền</label>
																<div class="d-flex">
																	<select th:field="*{roles}" >
																		<th:block th:each="role: ${roleList}">
																			<option  th:value="${role.id}" th:text="${role.name}"></option>
																		</th:block>
																	</select>
																</div>
															</div>
															<div class="form-group mb-0">
																<input type="submit" class="btn btn-primary" value="Tạo tài khoản">
															</div>
														</li>
													</ul>
												</form>
											</div>
										</div>
										<!-- Setting Tab End -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<!-- js -->
	<script th:src="@{/vendor/scripts/core.js}"></script>
	<script th:src="@{/vendor/scripts/script.min.js}"></script>
	<script th:src="@{/vendor/scripts/process.js}"></script>
	<script th:src="@{/vendor/scripts/layout-settings.js}"></script>
	<script th:src="@{/src/plugins/cropperjs/dist/cropper.js}"></script>
	<script>
		window.addEventListener('DOMContentLoaded', function () {
			var image = document.getElementById('image');
			var cropBoxData;
			var canvasData;
			var cropper;

			$('#modal').on('shown.bs.modal', function () {
				cropper = new Cropper(image, {
					autoCropArea: 0.5,
					dragMode: 'move',
					aspectRatio: 3 / 3,
					restore: false,
					guides: false,
					center: false,
					highlight: false,
					cropBoxMovable: false,
					cropBoxResizable: false,
					toggleDragModeOnDblclick: false,
					ready: function () {
						cropper.setCropBoxData(cropBoxData).setCanvasData(canvasData);
					}
				});
			}).on('hidden.bs.modal', function () {
				cropBoxData = cropper.getCropBoxData();
				canvasData = cropper.getCanvasData();
				cropper.destroy();
			});
		});
	</script>
</body>
</html>