<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
    <!-- Basic Page Info -->
    <meta charset="utf-8">
    <title>DeskApp - Bootstrap Admin Dashboard HTML Template</title>

    <!-- Site favicon -->
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/vendor/images/apple-touch-icon.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/vendor/images/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/vendor/images/favicon-16x16.png}">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
          rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/styles/core.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/styles/icon-font.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/src/plugins/datatables/css/dataTables.bootstrap4.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/src/plugins/datatables/css/responsive.bootstrap4.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/styles/style.css}">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119386393-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-119386393-1');
    </script>
</head>
<body>
<div class="header">
    <div class="header-left"></div>
    <div class="header-right">
        <div class="user-info-dropdown">
            <div class="dropdown">
                <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                    <span class="user-icon">
                        <img th:src="@{/vendor/images/photo1.png}" alt="">
                    </span>
                    <span class="user-name" sec:authentication="name"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                    <a href="javascript: document.logoutForm.submit()" class="dropdown-item"><i
                            class="dw dw-logout"></i> Đăng xuất</a>
                    <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                        <input hidden type="submit" value="Sign Out"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="left-side-bar">
    <div class="brand-logo">
        <a href="/home">
            <img th:src="@{/vendor/images/deskapp-logo.svg}" alt="" class="dark-logo">
            <img th:src="@{/vendor/images/deskapp-logo-white.svg}" alt="" class="light-logo">
        </a>
        <div class="close-sidebar" data-toggle="left-sidebar-close">
            <i class="ion-close-round"></i>
        </div>
    </div>
    <div class="menu-block customscroll">
        <div class="sidebar-menu">
            <ul id="accordion-menu" sec:authorize="hasAnyAuthority('USER')">
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle">
                        <span class="micon dw dw-user"></span><span class="mtext">Cá nhân</span>
                    </a>
                    <ul class="submenu">
                        <li><a href="/profile">Thông tin cá nhân</a></li>
                        <li><a href="/requestContract">Tạo hợp đồng</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle">
                        <span class="micon dw dw-wall-clock"></span><span class="mtext">Lịch sử</span>
                    </a>
                    <ul class="submenu">
                        <li><a href="/paymentHistory/user">Lịch sử thanh toán</a></li>
                        <li><a href="/accidents/user">Lịch sử tai nạn</a></li>
                        <li><a href="/punishments/user">Lịch sử xử phạt</a></li>
                        <li><a href="/compensations/user">Lịch sử nhận tiền bảo hiểm</a></li>
                        <li><a href="/contracts/user">Thông tin hợp đồng</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="mobile-menu-overlay"></div>

<div class="main-container">
    <div class="pd-ltr-20">
        <div class="card-box pd-20 height-100-p mb-30">
            <div class="row align-items-center">
                <div class="col-md-4">
                    <img th:src="@{/vendor/images/banner-img.png}" alt="">
                </div>
                <div class="col-md-8">
                    <h4 class="font-20 weight-500 mb-10 text-capitalize">
                        Chào mừng
                        <div class="weight-600 font-30 text-blue" sec:authentication="name"></div>
                    </h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12 mb-30">
                <a href="/paymentHistory/user">
                    <div class="card-box pd-30 height-50-p">
                        <span>
                            <div class="progress-box text-center">
                                <h5 class="text-blue padding-top-10 h5">Lịch sử thanh toán</h5>
                            </div>
                        </span>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 mb-30">
                <a href="/accidents/user">
                    <div class="card-box pd-30 height-50-p">
                        <span>
                            <div class="progress-box text-center">
                                <h5 class="text-blue padding-top-10 h5">Lịch sử tai nạn</h5>
                            </div>
                        </span>

                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 mb-30">
                <a href="/punishments/user">
                    <div class="card-box pd-30 height-50-p">
                        <span>
                            <div class="progress-box text-center">
                                <h5 class="text-blue padding-top-10 h5">Lịch sử xử phạt</h5>
                            </div>
                        </span>
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12 mb-30">
                <a href="/compensations/user">
                    <div class="card-box pd-30 height-50-p">
                        <span>
                            <div class="progress-box text-center">
                                <h5 class="text-blue padding-top-10 h5">Lịch sử nhận tiền bảo hiểm</h5>
                            </div>
                        </span>
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12 mb-30">
                <a href="/contracts/user">
                    <div class="card-box pd-30 height-50-p">

                        <span>
                            <div class="progress-box text-center">
                                <h5 class="text-blue padding-top-10 h5">Thông tin hợp đồng</h5>
                            </div>
                        </span>

                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- js -->
<script th:src="@{/vendor/scripts/core.js}"></script>
<script th:src="@{/vendor/scripts/script.min.js}"></script>
<script th:src="@{/vendor/scripts/process.js}"></script>
<script th:src="@{/vendor/scripts/layout-settings.js}"></script>
<script th:src="@{/src/plugins/apexcharts/apexcharts.min.js}"></script>
<script th:src="@{/src/plugins/datatables/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/src/plugins/datatables/js/dataTables.bootstrap4.min.js}"></script>
<script th:src="@{/src/plugins/datatables/js/dataTables.responsive.min.js}"></script>
<script th:src="@{/src/plugins/datatables/js/responsive.bootstrap4.min.js}"></script>
<script th:src="@{/vendor/scripts/dashboard.js}"></script>
</body>
</html>