<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org" lang="vi">
<head>
    <!-- Basic Page Info -->
    <meta charset="utf-8">
    <title>DeskApp - Bootstrap Admin Dashboard HTML Template</title>

    <!-- Site favicon -->
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/vendor/images/apple-touch-icon.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/vendor/images/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/vendor/images/favicon-16x16.png}">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
          rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/styles/core.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/styles/icon-font.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/styles/style.css}">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119386393-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-119386393-1');
    </script>
</head>
<body class="login-page">
<div class="login-header box-shadow">
    <div class="container-fluid d-flex justify-content-between align-items-center">
        <div class="brand-logo">
            <a href="/login">
                <img th:src="@{/vendor/images/deskapp-logo.svg}" alt="">
            </a>
        </div>
        <div class="login-menu">
            <ul>
                <li><a href="/home">Trang chủ</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="login-wrap d-flex align-items-center flex-wrap justify-content-center">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 col-lg-7">
                <img th:src="@{/vendor/images/login-page-img.png}" alt="">
            </div>
            <div class="col-md-6 col-lg-5">
                <div class="login-box bg-white box-shadow border-radius-10">
                    <div class="login-title">
                        <h2 class="text-center text-primary">Đăng nhập</h2>
                    </div>
                    <div>
                        <p  th:if="${loginFail}" style="color: red; text-align: center">Tên đăng nhập hoặc mặt khẩu chưa đúng</p>
                        <p  th:if="${success}" style="color: lawngreen; text-align: center">Đăng ký tài khoản thành công</p>
                        <p  th:if="${pass}" style="color: lawngreen; text-align: center">Reset password thành công</p>
                    </div>
                    <form th:action="@{/j_spring_security_check}" method="post">
                        <div class="input-group custom">
                            <input type="text" class="form-control form-control-lg" placeholder="Tên đăng nhập" required name="username">
                            <div class="input-group-append custom">
                                <span class="input-group-text"><i class="icon-copy dw dw-user1"></i></span>
                            </div>
                        </div>
                        <div class="input-group custom">
                            <input type="password" class="form-control form-control-lg" placeholder="**********" required name="password">
                            <div class="input-group-append custom">
                                <span class="input-group-text"><i class="dw dw-padlock1"></i></span>
                            </div>
                        </div>
                        <div class="row pb-30">
                            <div class="col-6">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1" name="remember-me">
                                    <label class="custom-control-label" for="customCheck1">Nhớ tài khoản</label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="forgot-password"><a href="/forgot-password">Quên mật khẩu</a></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="input-group mb-0">
                                    <!--
                                        use code for form submit
                                        <input class="btn btn-primary btn-lg btn-block" type="submit" value="Sign In">
                                    -->
                                    <button type="submit" class="btn btn-primary btn-lg btn-block" >Đăng nhập</button>
                                </div>
                                <div class="font-16 weight-600 pt-10 pb-10 text-center" data-color="#707373">Hoặc</div>
                                <div class="input-group mb-0">
                                    <a class="btn btn-outline-primary btn-lg btn-block" href="/register">Tạo tài
                                        khoản</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- js -->
<script th:src="@{/vendor/scripts/core.js}"></script>
<script th:src="@{/vendor/scripts/script.min.js}"></script>
<script th:src="@{/vendor/scripts/process.js}"></script>
<script th:src="@{/vendor/scripts/layout-settings.js}"></script>
</body>
</html>