<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
    <!-- Basic Page Info -->
    <meta charset="utf-8">
    <title>Insurance Card</title>

    <!-- Site favicon -->
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/vendor/images/apple-touch-icon.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/vendor/images/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/vendor/images/favicon-16x16.png}">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
          rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/styles/core.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/styles/icon-font.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/styles/style.css}">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119386393-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-119386393-1');
    </script>
</head>
<body>
<div class="header">
    <div class="header-left"></div>
    <div class="header-right">
        <div class="user-info-dropdown">
            <div class="dropdown">
                <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                    <span class="user-icon">
                        <img th:src="@{/vendor/images/photo1.png}" alt="">
                    </span>
                    <span class="user-name" sec:authentication="name"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                    <a href="javascript: document.logoutForm.submit()" class="dropdown-item"><i
                            class="dw dw-logout"></i> Đăng xuất</a>
                    <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                        <input hidden type="submit" value="Sign Out"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="left-side-bar">
    <div class="brand-logo">
        <a href="/home">
            <img th:src="@{/vendor/images/deskapp-logo.svg}" alt="" class="dark-logo">
            <img th:src="@{/vendor/images/deskapp-logo-white.svg}" alt="" class="light-logo">
        </a>
        <div class="close-sidebar" data-toggle="left-sidebar-close">
            <i class="ion-close-round"></i>
        </div>
    </div>
    <div class="menu-block customscroll">
        <div class="sidebar-menu">
            <ul id="accordion-menu" sec:authorize="hasAnyAuthority('USER')">
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle">
                        <span class="micon dw dw-user"></span><span class="mtext">Cá nhân</span>
                    </a>
                    <ul class="submenu">
                        <li><a href="/profile">Thông tin cá nhân</a></li>
                        <li><a href="/profile">Tạo hợp đồng</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle">
                        <span class="micon dw dw-wall-clock"></span><span class="mtext">Lịch sử</span>
                    </a>
                    <ul class="submenu">
                        <li><a href="/paymentHistory/user">Lịch sử thanh toán</a></li>
                        <li><a href="/accidents/user">Lịch sử tai nạn</a></li>
                        <li><a href="/punishments/user">Lịch sử xử phạt</a></li>
                        <li><a href="/compensations/user">Lịch sử nhận tiền bảo hiểm</a></li>
                        <li><a href="/contracts/user">Thông tin hợp đồng</a></li>
                    </ul>
                </li>
            </ul>
            <ul id="accordion-menu" sec:authorize="hasAnyAuthority('STAFF','ADMIN')">
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle">
                        <span class="micon dw dw-user"></span><span class="mtext">Khách hàng</span>
                    </a>
                    <ul class="submenu">
                        <li><a href="/#">Quản lý khách hàng</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle">
                        <span class="micon dw dw-notebook"></span><span class="mtext">Hợp đồng</span>
                    </a>
                    <ul class="submenu">
                        <li><a href="#">Quản lý hợp đồng</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle">
                        <span class="micon dw dw-warning"></span><span class="mtext">Yêu cầu</span>
                    </a>
                    <ul class="submenu">
                        <li><a href="#">Tạo hợp đồng</a></li>
                        <li><a href="#">Nhận tiền bảo hiểm</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle">
                        <span class="micon dw dw-add-user"></span><span class="mtext">Tài khoản</span>
                    </a>
                    <ul class="submenu">
                        <li><a href="#">Tạo tài khoản</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="mobile-menu-overlay"></div>

<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title">
                            <h4>Yêu cầu nhận tiền bảo hiểm</h4>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Default Basic Forms Start -->
            <div class="pd-20 card-box mb-30">
                <form th:object="${accident}" method="post" th:action="@{/compensations/request}">
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label">Hợp đồng</label>
                        <div class="col-sm-12 col-md-10">
                            <select class="custom-select col-12" th:field="*{id}" >
                                <div th:each="contract : ${contracts}">
                                    <option th:value="${contract.id}" th:text="'HĐ '+${contract.id}+'-'+${contract.insurance.name}"></option>
                                </div>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label">Thời gian xảy ra tai nạn</label>
                        <div class="col-sm-12 col-md-10">
                            <input class="form-control datetimepicker" placeholder="Thời gian" type="text" th:field="*{occurTime}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label">Chi tiết</label>
                        <div class="col-sm-12 col-md-10">
                            <textarea class="form-control"  th:field="*{detail}"></textarea>
                        </div>
                    </div>
                    <div class="form-group mb-0">
                        <input type="submit" class="btn btn-primary" value="Gửi yêu cầu">
                    </div>
                </form>
                <div class="collapse collapse-box" id="basic-form1" >
                    <div class="code-box">
                        <div class="clearfix">
                            <a href="javascript:;" class="btn btn-primary btn-sm code-copy pull-left"  data-clipboard-target="#copy-pre"><i class="fa fa-clipboard"></i> Copy Code</a>
                            <a href="#basic-form1" class="btn btn-primary btn-sm pull-right" rel="content-y"  data-toggle="collapse" role="button"><i class="fa fa-eye-slash"></i> Hide Code</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Default Basic Forms End -->
        </div>
    </div>
</div>
<!-- js -->
<script th:src="@{/vendor/scripts/core.js}"></script>
<script th:src="@{/vendor/scripts/script.min.js}"></script>
<script th:src="@{/vendor/scripts/process.js}"></script>
<script th:src="@{/vendor/scripts/layout-settings.js}"></script>
<script th:src="@{/src/plugins/datatables/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/src/plugins/datatables/js/dataTables.bootstrap4.min.js}"></script>
<script th:src="@{/src/plugins/datatables/js/dataTables.responsive.min.js}"></script>
<script th:src="@{/src/plugins/datatables/js/responsive.bootstrap4.min.js}"></script>
<!-- buttons for Export datatable -->
<script th:src="@{/src/plugins/datatables/js/dataTables.buttons.min.js}"></script>
<script th:src="@{/src/plugins/datatables/js/buttons.bootstrap4.min.js}"></script>
<script th:src="@{/src/plugins/datatables/js/buttons.print.min.js}"></script>
<script th:src="@{/src/plugins/datatables/js/buttons.html5.min.js}"></script>
<script th:src="@{/src/plugins/datatables/js/buttons.flash.min.js}"></script>
<script th:src="@{/src/plugins/datatables/js/pdfmake.min.js}"></script>
<script th:src="@{/src/plugins/datatables/js/vfs_fonts.js}"></script>
<!-- Datatable Setting js -->
<script th:src="@{/vendor/scripts/datatable-setting.js}"></script></body>
</body>
</html>