<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
    <!-- Basic Page Info -->
    <meta charset="utf-8">
    <title>Insurance Card</title>

    <!-- Site favicon -->
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/vendor/images/apple-touch-icon.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/vendor/images/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/vendor/images/favicon-16x16.png}">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
          rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/styles/core.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/styles/icon-font.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/src/plugins/datatables/css/dataTables.bootstrap4.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/src/plugins/datatables/css/responsive.bootstrap4.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/src/plugins/sweetalert2/sweetalert2.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/styles/style.css}">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119386393-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-119386393-1');
    </script>
</head>
<body>
<div class="header">
    <div class="header-left"></div>
    <div class="header-right">
        <div class="user-info-dropdown">
            <div class="dropdown">
                <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                    <span class="user-icon">
                        <img th:src="@{/vendor/images/photo1.png}" alt="">
                    </span>
                    <span class="user-name" sec:authentication="name"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                    <a href="javascript: document.logoutForm.submit()" class="dropdown-item"><i
                            class="dw dw-logout"></i> Đăng xuất</a>
                    <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                        <input hidden type="submit" value="Sign Out"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="left-side-bar">
    <div class="brand-logo">
        <a href="/home">
            <img th:src="@{/vendor/images/deskapp-logo.svg}" alt="" class="dark-logo">
            <img th:src="@{/vendor/images/deskapp-logo-white.svg}" alt="" class="light-logo">
        </a>
        <div class="close-sidebar" data-toggle="left-sidebar-close">
            <i class="ion-close-round"></i>
        </div>
    </div>
    <div class="menu-block customscroll">
        <div class="sidebar-menu">
            <ul id="accordion-menu" sec:authorize="hasAnyAuthority('STAFF','ADMIN')">
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle">
                        <span class="micon dw dw-user"></span><span class="mtext">Khách hàng</span>
                    </a>
                    <ul class="submenu">
                        <li><a href="/manageUser/staff">Quản lý khách hàng</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle">
                        <span class="micon dw dw-notebook"></span><span class="mtext">Hợp đồng</span>
                    </a>
                    <ul class="submenu">
                        <li><a href="/contracts/admin">Quản lý hợp đồng</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle">
                        <span class="micon dw dw-warning"></span><span class="mtext">Yêu cầu</span>
                    </a>
                    <ul class="submenu">
                        <li><a href="/resolveContract/create">Tạo hợp đồng</a></li>
                        <li><a href="/resolveAccident">Xác nhận tai nạn</a></li>
                        <li><a href="/resolveCompensation">Nhận tiền bảo hiểm</a></li>
                        <li><a href="/resolveContract/renew">Làm mới hợp đồng</a></li>
                        <li><a href="/resolveContract/cancel">Hủy hợp đồng</a></li>
                    </ul>
                </li>
                <li class="dropdown" sec:authorize="hasAuthority('ADMIN')">
                    <a href="javascript:;" class="dropdown-toggle">
                        <span class="micon dw dw-add-user"></span><span class="mtext">Tài khoản</span>
                    </a>
                    <ul class="submenu">
                        <li><a href="/manageAccount">Quản lý tài khoản</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="mobile-menu-overlay"></div>

<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title">
                            <h4>Yêu cầu làm mới hợp đồng</h4>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Simple Datatable start -->
            <div class="card-box mb-30" sec:authorize="hasAnyAuthority('STAFF','ADMIN')">
                <div th:each="contract : ${contracts}">
                    <div class="modal fade" th:id="'small-modal' + ${contract.id}" tabindex="-1" role="dialog"
                         aria-labelledby="myLargeModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog modal-sm modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="myLargeModalLabel">Xác nhận yêu cầu làm mới hợp đồng</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p th:text="@{'Làm mới hợp đồng mã ' + ${contract.id} + '?'}"></p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                                    <a type="button" class="btn btn-primary"
                                       th:href="@{'/resolveContract/renew/agree/' + ${contract.id}}">Đồng ý</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" th:id="'warning-modal' + ${contract.id}" tabindex="-1" role="dialog"
                         aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-sm modal-dialog-centered">
                            <div class="modal-content bg-warning">
                                <div class="modal-body text-center">
                                    <h3 class="mb-15"><i class="fa fa-exclamation-triangle"></i></h3>
                                    <p th:text="@{'Từ chối yêu cầu làm mới hợp đồng mã ' + ${contract.id} + '?'}"></p>
                                    <button type="button" class="btn btn-dark" data-dismiss="modal">Hủy</button>
                                    <a type="button" class="btn btn-light"
                                       th:href="@{'/resolveContract/renew/cancel/' + ${contract.id}}">Xác nhận</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pb-20">
                    <table class="data-table table stripe hover nowrap">
                        <thead>
                        <tr>
                            <th>Mã HĐ</th>
                            <th>Loại hợp đồng</th>
                            <th>Khách hàng</th>
                            <th>Thời hạn</th>
                            <th>Mức bảo hiểm</th>
                            <th>Thời gian đăng ký</th>
                            <th>Trạng thái</th>
                            <th class="datatable-nosort"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="contract : ${contracts}">
                            <td class="table-plus" th:text="${contract.id}"></td>
                            <td th:text="${contract.insurance.name}"></td>
                            <td th:text="${contract.user.firstName}+' '+${contract.user.middleName}+' '+${contract.user.lastName}"></td>
                            <td th:text="${contract.duration.duration}+' tháng'"></td>
                            <td th:text="${contract.price.returnPrice()}+'vnd'"></td>
                            <td th:text="${contract.createTime}"></td>
                            <td th:text="${contract.contractStatus.name}"></td>
                            <td >
                                <div class="dropdown">
                                    <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#"
                                       role="button" data-toggle="dropdown">
                                        <i class="dw dw-more"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list" th:if="${contract.contractStatus.id == 3}">
                                        <a class="dropdown-item" data-toggle="modal" th:attr="data-target=${'#small-modal'+contract.id}"
                                           type="button"><i class="dw dw-notebook" ></i>Xác nhận</a>
                                        <a class="dropdown-item" data-toggle="modal" th:attr="data-target=${'#warning-modal'+contract.id}"
                                           type="button"><i class="dw dw-cancel" ></i>Từ chối</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Simple Datatable End -->
        </div>
    </div>
</div>
<!-- js -->
<script th:src="@{/vendor/scripts/core.js}"></script>
<script th:src="@{/vendor/scripts/script.min.js}"></script>
<script th:src="@{/vendor/scripts/process.js}"></script>
<script th:src="@{/vendor/scripts/layout-settings.js}"></script>
<script th:src="@{/src/plugins/datatables/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/src/plugins/datatables/js/dataTables.bootstrap4.min.js}"></script>
<script th:src="@{/src/plugins/datatables/js/dataTables.responsive.min.js}"></script>
<script th:src="@{/src/plugins/datatables/js/responsive.bootstrap4.min.js}"></script>
<!-- buttons for Export datatable -->
<script th:src="@{/src/plugins/datatables/js/dataTables.buttons.min.js}"></script>
<script th:src="@{/src/plugins/datatables/js/buttons.bootstrap4.min.js}"></script>
<script th:src="@{/src/plugins/datatables/js/buttons.print.min.js}"></script>
<script th:src="@{/src/plugins/datatables/js/buttons.html5.min.js}"></script>
<script th:src="@{/src/plugins/datatables/js/buttons.flash.min.js}"></script>
<script th:src="@{/src/plugins/datatables/js/pdfmake.min.js}"></script>
<script th:src="@{/src/plugins/datatables/js/vfs_fonts.js}"></script>
<!-- Datatable Setting js -->
<script th:src="@{/vendor/scripts/datatable-setting.js}"></script>
</body>
</body>
</html>