<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
	<!-- Basic Page Info -->
	<meta charset="utf-8">
	<title>Insurance card</title>

	<!-- Site favicon -->
	<link rel="apple-touch-icon" sizes="180x180" th:href="@{/vendor/images/apple-touch-icon.png}">
	<link rel="icon" type="image/png" sizes="32x32" th:href="@{/vendor/images/favicon-32x32.png}">
	<link rel="icon" type="image/png" sizes="16x16" th:href="@{/vendor/images/favicon-16x16.png}">

	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/styles/core.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/styles/icon-font.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/src/plugins/cropperjs/dist/cropper.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/styles/style.css}">

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-119386393-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-119386393-1');
	</script>
</head>
<body>

<div class="header">
	<div class="header-left"></div>
	<div class="header-right">
		<div class="user-info-dropdown">
			<div class="dropdown">
				<a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                    <span class="user-icon">
                        <img th:src="@{/vendor/images/photo1.png}" alt="">
                    </span>
					<span class="user-name" sec:authentication="name"></span>
				</a>
				<div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
					<a href="javascript: document.logoutForm.submit()" class="dropdown-item"><i
							class="dw dw-logout"></i> Đăng xuất</a>
					<form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
						<input hidden type="submit" value="Sign Out"/>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>



<div class="left-side-bar">
	<div class="brand-logo">
		<a href="/home">
			<img th:src="@{/vendor/images/deskapp-logo.svg}" alt="" class="dark-logo">
			<img th:src="@{/vendor/images/deskapp-logo-white.svg}" alt="" class="light-logo">
		</a>
		<div class="close-sidebar" data-toggle="left-sidebar-close">
			<i class="ion-close-round"></i>
		</div>
	</div>
	<div class="menu-block customscroll">
		<div class="sidebar-menu">
			<ul id="accordion-menu" sec:authorize="hasAnyAuthority('USER')">
				<li class="dropdown">
					<a href="javascript:;" class="dropdown-toggle">
						<span class="micon dw dw-user"></span><span class="mtext">Cá nhân</span>
					</a>
					<ul class="submenu">
						<li><a href="/profile">Thông tin cá nhân</a></li>
						<li><a href="/requestContract">Tạo hợp đồng</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="javascript:;" class="dropdown-toggle">
						<span class="micon dw dw-wall-clock"></span><span class="mtext">Lịch sử</span>
					</a>
					<ul class="submenu">
						<li><a href="/paymentHistory/user">Lịch sử thanh toán</a></li>
						<li><a href="/accidents/user">Lịch sử tai nạn</a></li>
						<li><a href="/punishments/user">Lịch sử xử phạt</a></li>
						<li><a href="/compensations/user">Lịch sử nhận tiền bảo hiểm</a></li>
						<li><a href="/contracts/user">Thông tin hợp đồng</a></li>
					</ul>
				</li>
			</ul>
			<ul id="accordion-menu" sec:authorize="hasAnyAuthority('STAFF','ADMIN')">
				<li class="dropdown">
					<a href="javascript:;" class="dropdown-toggle">
						<span class="micon dw dw-user"></span><span class="mtext">Khách hàng</span>
					</a>
					<ul class="submenu">
						<li><a href="/#">Thông tin khách hàng</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="javascript:;" class="dropdown-toggle">
						<span class="micon dw dw-notebook"></span><span class="mtext">Hợp đồng</span>
					</a>
					<ul class="submenu">
						<li><a href="#">Danh sách hợp đồng</a></li>
						<li><a href="#">Tạo hợp đồng</a></li>
						<li><a href="#">Xử phạt hợp đồng</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="javascript:;" class="dropdown-toggle">
						<span class="micon dw dw-warning"></span><span class="mtext">Yêu cầu</span>
					</a>
					<ul class="submenu">
						<li><a href="#">Hợp đồng</a></li>
						<li><a href="#">Nhận tiền bảo hiểm</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="javascript:;" class="dropdown-toggle">
						<span class="micon dw dw-add-user"></span><span class="mtext">Tài khoản</span>
					</a>
					<ul class="submenu">
						<li><a href="#">Tạo tài khoản</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>
	<div class="mobile-menu-overlay"></div>

	<div class="main-container">
		<div class="pd-ltr-20 xs-pd-20-10">
			<div class="min-height-200px">
				<div class="page-header">
					<div class="row">
						<div class="col-md-12 col-sm-12">
							<div class="title">
								<h4>Thông tin cá nhân</h4>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-30">
						<div class="pd-20 card-box height-100-p">
							<div class="profile-photo">
								<img th:src="@{/vendor/images/photo1.png}" alt="" class="avatar-photo">
							</div>
							<h5 class="text-center h5 mb-0" sec:authentication="name"></h5>

						</div>
					</div>
					<div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 mb-30">
						<div class="card-box height-100-p overflow-hidden">
							<div class="profile-tab height-100-p">
								<div class="tab height-100-p">
									<ul class="nav nav-tabs customtab" role="tablist">
										<li class="nav-item">
											<a class="nav-link active" data-toggle="tab" href="#setting" role="tab">Chỉnh sửa thông tin</a>
										</li>
									</ul>
									<div class="tab-content">
										<!-- Timeline Tab start -->
										<!-- Setting Tab start -->
										<div class="tab-pane fade show active" id="setting" role="tabpanel">
											<div class="profile-setting">
												<form th:object="${user}" method="post" th:action="@{/profile/update/save}">
													<ul class="profile-edit-list row">
														<li class="weight-500 col-md-12">
															<div class="form-group">
																<label>Họ</label>
																<input class="form-control form-control-lg" type="text" th:value="${user.firstName}" th:field="*{firstName}">
															</div>
															<div class="form-group">
																<label>Tên đệm</label>
																<input class="form-control form-control-lg" type="text" th:value="${user.middleName}" th:field="*{middleName}">
															</div>
															<div class="form-group">
																<label>Tên</label>
																<input class="form-control form-control-lg" type="text" th:value="${user.lastName}" th:field="*{lastName}">
															</div>
															<div class="form-group">
																<label>Email</label>
																<input class="form-control form-control-lg" type="email" th:value="${user.email}" th:field="*{email}">
															</div>
															<div class="form-group">
																<label>Ngày sinh</label>
																<input class="form-control form-control-lg date-picker" type="date" th:value="${user.DOB}" th:field="*{DOB}">
															</div>
															<div class="form-group">
																<label>Giới tính</label>
																<div class="d-flex">
																	<select th:field="*{gender}" >
																		<option  value="Nam" th:selected="${user.gender.equals('Nam')}">Nam</option>
																		<option  value="Nũ" th:selected="${user.gender.equals('Nữ')}">Nữ</option>
																	</select>
																</div>
															</div>
															<div class="form-group">
																<label>Số điện thoại</label>
																<input class="form-control form-control-lg" type="text" th:value="${user.phoneNumber}" th:field="*{phoneNumber}">
															</div>
															<div class="form-group">
																<label>Địa chỉ</label>
																<textarea class="form-control" th:text="${user.address}" th:field="*{address}"></textarea>
															</div>
															<div class="form-group mb-0">
																<input type="submit" class="btn btn-primary" value="Cập nhật">
															</div>
														</li>
													</ul>
												</form>
											</div>
										</div>
										<!-- Setting Tab End -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<!-- js -->
	<script th:src="@{/vendor/scripts/core.js}"></script>
	<script th:src="@{/vendor/scripts/script.min.js}"></script>
	<script th:src="@{/vendor/scripts/process.js}"></script>
	<script th:src="@{/vendor/scripts/layout-settings.js}"></script>
	<script th:src="@{/src/plugins/cropperjs/dist/cropper.js}"></script>
	<script>
		window.addEventListener('DOMContentLoaded', function () {
			var image = document.getElementById('image');
			var cropBoxData;
			var canvasData;
			var cropper;

			$('#modal').on('shown.bs.modal', function () {
				cropper = new Cropper(image, {
					autoCropArea: 0.5,
					dragMode: 'move',
					aspectRatio: 3 / 3,
					restore: false,
					guides: false,
					center: false,
					highlight: false,
					cropBoxMovable: false,
					cropBoxResizable: false,
					toggleDragModeOnDblclick: false,
					ready: function () {
						cropper.setCropBoxData(cropBoxData).setCanvasData(canvasData);
					}
				});
			}).on('hidden.bs.modal', function () {
				cropBoxData = cropper.getCropBoxData();
				canvasData = cropper.getCanvasData();
				cropper.destroy();
			});
		});
	</script>
</body>
</html>